@media all and (min-width: 992px) {
  h2 {
    margin-top: 17px;
  }
}
.panel {
  height: auto;
}
#projects .panel {
  height: 196px;
}
.project .panel author {
  display: block;
  height: 35px;
  line-height: 35px;
  margin-bottom: 10px;
}
.project .panel:hover panel-heading author {
  opacity: 0;
}
.panel-heading a {
  color: #ffffff;
}
.panel-primary > .panel-heading {
  background-color: #00838F;
}

header > .container > div {
  position: relative;
}
a[role="username"] {
  position: absolute;
  right: 0;
  top: 40px;
  color: rgba(255,255,255,0.5);
}
.navbar-right a {
  margin-right: 30px;
}
.navbar-nav .btn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.btn-default {
  background-color: white !important;
}
.btn-default:hover, .btn-default:active, .btn-default:visited {
  color: black !important;
}

h5 + div:not(:last-of-type) {
  margin-bottom: 30px
}
h5 + div:empty:after {
  content: 'N/A';
  color: #cccccc;
}
a[role="delete"] {
  float: right;
  color: #ff0000;
}