@media all and (min-width: 992px) {
  h2 {
    margin-top: 17px;
  }
}
.panel {
  height: auto;
}
#projects .panel {
  height: 196px;
}
.project .panel author {
  display: block;
  height: 35px;
  line-height: 35px;
  margin-bottom: 10px;
}
.project .panel:hover panel-heading author {
  opacity: 0;
}
.panel-heading a {
  color: #ffffff;
}
.panel-primary > .panel-heading {
  background-color: #00838F;
}

header > .container > div {
  position: relative;
}
a[role="username"] {
  position: absolute;
  right: 0;
  top: 40px;
  color: rgba(255,255,255,0.5);
}
.navbar-right a {
  margin-right: 30px;
}
.navbar-nav .btn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.btn-default {
  background-color: white !important;
}
.btn-default:hover, .btn-default:active, .btn-default:visited {
  color: black !important;
}

h5 + div:not(:last-of-type) {
  margin-bottom: 30px
}
h5 + div:empty:after {
  content: 'N/A';
  color: #cccccc;
}
a[role="edit"],
a[role="delete"] {
  float: right;
  color: #ff0000;
}
.row-picture {
  margin-right: 16px;
}
.row-picture,
.row-picture .flipper,
.row-picture .face{
  width: 75px !important;
  height: 75px !important;
  line-height: 75px;
}
.row-picture .face {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  background: white;
  text-decoration: none !important;
  backface-visibility: hidden;
}
.list-group-item:hover .flipper {
  transform: rotateY(180deg);
 }
.flipper {
 transition: 0.3s;
 transform-style: preserve-3d;
 position: relative;
}
.front {
 z-index: 2;
 transform: rotateY(0deg);
}
.back {
 transform: rotateY(180deg);
}

.row-picture a.face[role="vote"] {
  box-shadow: 1px 1px 0px rgba(0,0,0,.2);
  height: 74px !important;
  width: 74px !important;
}
a[role="vote"]:before {
  transition: all 0.2s ease;
}
[data-voted] a[role="vote"]:before,
a[role="vote"]:hover:before {
  transform: scale(6);
  color: red;
}
a[role="vote"]:after {
  color: white;
  content: attr(data-text);
  opacity: 0;
  position: absolute;
  left: 0;
  top: -1px;
  font-size: 10px;
  width: 100%;
}
[data-voted] a[role="vote"]:not(:hover):after {
  content: 'VOTED';
}
[data-voted] a[role="vote"]:after,
a[role="vote"]:hover:after {
  opacity: 1;
}
h4:before {
  display: none !important;
}
[data-voted] h4:before {
  position: absolute;
  top: -4px;
  left: -38px;
  z-index: 2;
  font-size: 20px;
  color: white;
  text-shadow: 0px 0px 4px rgba(255,0,0,.5);
  display: block !important;
}
.list-group .list-group-separator {
  margin: 30px 0;
}
.list-group-separator:last-child {
  display: none;
}
.list-group-item-text {
  width: 500px;
}
#sessions {
  min-height: 300px;
  margin-bottom: 70px;
}
body[data-page="sessions"] [role="new_project"],
body:not([data-page="sessions"]) [role="new_session"] {
  display: none;
}