{% extends "base.html" %}
{% block body %}

<h1>Ideas</h1>

{% for data in ctx %}
<div class="col-md-5 col-md-offset-1 jumbotron">
  <h2>{{ data.idea.title }}</h2>
    <small><a href="/user/{{ data.idea.pitcher.user }}">{{ data.idea.pitcher.name }}</a></small>
  <p>{{ data.idea.description }}</p>
  {% for skill in data.skills %}
  <a href="/skills/{{ skill.id }}" class="label label-default">{{ skill.title }}</a>
  {% endfor %}
  <a class="btn btn-primary btn-sm" href="/ideas/{{ data.idea.id }}">more info</a>
</div>
{% endfor %}

{% endblock body %}