{% extends "base.html" %}
{% block body %}

<div class="container">
    <h3>Day 1 (Tue Jul 7th)</h3>
    <ul>
        <li>09:00 Breakfast & gathering (Shakshuka!)</li>
        <li>10:00 Kickoff meeting</li>
        <li>12:45 The Split of the Koreas (Shalom)</li>
        <li>13:30 Lunch</li>
        <li>18:00 Funky sandwiches</li>
    </ul>

    <h3>Day 2 (Wed Jul 8th)</h3>
    <ul>
        <li>09:00 Light breakfast</li>
        <li>11:30 Nature or Nurture? Gender differences in Competition (Tali)</li>
        <li>10bis Lunch (independent)</li>
        <li>16:30 Haver Knesset Leyom Ehad (Adam)</li>
        <li>18:30 Falafel time!</li>
    </ul>

    <h3>Day 3 (Thu Jul 9th)</h3>
    <ul>
        <li>09:30 - 12:00 Showcase</li>
    </ul>
</div>

{% endblock body %}