{% extends "base.html" %}
{% import "macros.html" as m %}
{% block body %}

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="col-md-2">
        <img class="circle" src="http://gravatar.com/avatar/{{ ctx.email | md5 }}?s=116" />
      </div>
      <div class="col-md-10">
        <h1>{{ ctx.name }}</h1>

        <h5>Skills</h5>
        <div>{% for data in ctx.skills %}
          {{ m.skill(data.id, data.title, '/api/hackers/'+ctx.user+'/skills/remove/'+data.id|string) }}
        {% endfor %}
        {{ m.icon_button('mdi-content-add', modal='add_skill') }}
        </div>

        <h5>Pitched</h5>
        <div>{% for data in ctx.pitched %}
          {{ m.project(data.id, data.title, 'pitched') }}
        {% endfor %}</div>

        <h5>Joined</h5>
        <div>{% for data in ctx.joined %}
          {{ m.project(data.id, data.title, 'joined') }}
        {% endfor %}</div>

        <h5>Can join</h5>
        <div>{% for data in ctx.suggested %}
          {{ m.project(data.id, data.title, 'suggested') }}
        {% endfor %}</div>
      </div>
    </div>
  </div>

  {{ m.add_skill('add_skill', '/api/hackers/'+ctx.user+'/skills/add') }}
</div>

<script src="/static/components/bootstrap-material-design/dist/js/material.min.js"></script>
<script src="/static/components/selectize/dist/js/standalone/selectize.min.js"></script>
<script>
    $.material.init()
    $('#skills').selectize({
        delimiter: ',',
        persist: false,
        searchField: 'text',
        options: [
            {% for skill in ctx.all_skills %}
            {value: '{{ skill.title }}', text: '{{ skill.title }}'},
            {% endfor %}
        ],
        create: function(input) {
            return {
                value: input,
                text: input
            }
        }
    });
</script>

{% endblock body %}