{% extends "base.html" %}
{% block body %}

{% for data in ctx.skills %}
  <a href="javascript:void(0)" class="filter" data-filter=".skill_{{ data.id }}">{{ data.title }}</a>
{% endfor %}

<div id="projects">

  {% set colors = ['#ec407a', '#ab47bc', '#26c6da', '#ffca28', '#29b6f6', '#e84e40', '#5c6bc0', '#ff7043', '#9ccc65'] %}
  {% set icons = ['mdi-action-face-unlock', 'mdi-action-find-in-page', 'mdi-action-polymer', 'mdi-action-settings-remote', 'mdi-action-view-quilt', 'mdi-communication-ring-volume'] %}
  {% for data in ctx.projects %}
    {% set color = colors[loop.index%colors|length] %}
    {% set icon = icons[loop.index%icons|length] %}

    {% set skills_classname = data.skills|map(attribute='id')|list|prefix('skill_')|join(' ') %}
    {% set classname = 'project flip-container mix hackathing-'~data.project.hackathing_id+' '+skills_classname %}

    <div class="{{ classname }}" data-myorder="{{ loop.index }}">
      <div class="flipper">
        <div class="panel front" style="background-color: {{ color }}">
          <div class="panel-body">
            <icon class="{{ icon }}"></icon>
            <title>{{ data.project.title }}</title>
          </div>
        </div>
        <div class="panel back">
          <div class="panel-body">
            <h3>{{ data.project.title }}</h3>
            <p>{{ data.project.description }}</p>
            <pitcher>Pitched by {{ data.project.hacker.user }}</pitcher>
            <a href="/projects/{{ data.project.id }}" class="btn btn-primary btn-xs">more info</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<script src="/static/components/mixitup/build/jquery.mixitup.min.js"></script>
<script>
  $('#projects').mixItUp({
	animation: {
		duration: 400,
		effects: 'fade translateZ(-360px) stagger(34ms)',
		easing: 'ease'
	}
});
</script>

{% endblock body %}