{% extends "base.html" %}
{% import "macros.html" as m %}
{% block body %}

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading" style="background-color: {{ ctx.project.title|colorize }}">
      <h1>{{ ctx.project.title }}</h1>
      <p>
        {{ ctx.project.description }}
        <br /><br />
        Pitched by <a href="{{ url_for('hacker', hacker=ctx.project.hacker.user) }}">{{ ctx.project.hacker.name }}</a>
      </p>
    </div>
    <div class="panel-body">
      {% if current_user.id in ctx.joined|map(attribute='hacker')|map(attribute='id')|list() %}
        <a href="/api/leave/{{ ctx.project.id }}" class="btn btn-primary">Leave {{ ctx.project.title }}</a>
      {% else %}
        <a href="/api/join/{{ ctx.project.id }}" class="btn btn-primary">Join project now</a>
      {% endif %}

      <h5>Already joined</h5>
      <p>{% for data in ctx.joined %}
      {{ m.hacker(data.hacker.user, data.hacker.name) }}
      {% endfor %}</p>

      <h5>Required skills</h5>
      <p>{% for data in ctx.skills %}
        {{ m.skill(data.id, data.title) }}
      {% endfor %}
      {{ m.icon_button('mdi-content-add', modal='add_skill') }}
      </p>
    </div>
  </div>

    {% call m.modal('Add a skill', 'add_skill', 'hello') %}
    {% for i in [1, 2, 3] %}
    <div class="togglebutton">
        <label>
            <input type="checkbox" checked=""> Skill {{ i }}
        </label>
    </div>
    {% endfor %}
  {% endcall %}

  {% include 'disqus.html' %}
</div>
{% endblock body %}