{% extends "base.html" %}
{% import "macros.html" as m %}
{% block body %}

{{ m.breadcrumbs([('Projects', url_for('projects')), ctx.project.title]) }}

<div id="project" class="panel panel-info">
  <div class="panel-heading">
    <h1>{{ ctx.project.title }}</h1>
    <p>
      {{ ctx.project.description }}
      <br /><br />
      Pitched by <a href="{{ url_for('hacker', hacker=ctx.project.hacker.user) }}">{{ ctx.project.hacker.name }}</a>
    </p>
  </div>
  <div class="panel-body">
    <h5>Already joined</h5>
    {% for data in ctx.joined %}
    {{ m.hacker(data.hacker.user, data.hacker.name) }}
    {% endfor %}

    <h5>Required skills</h5>
    {% for data in ctx.skills %}
      {{ m.skill(data.id, data.title) }}
    {% endfor %}
  </div>
  {{ m.icon_button('mdi-social-hacker-add', url=url_for('join', project_id=ctx.project.id), type='action') }}
</div>


{% include 'disqus.html' %}

{% endblock body %}