{% extends "base.html" %}
{% block body %}
<div class="navbar navbar-material-cyan-800" id="affix">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav" id="tag-filter">
        {% for data in ctx.skills %}
          <li><a href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"
                 data-tag=".{{ data.title }}" onclick="app.filter('.{{ data.title }}')">{{ data.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div id="projects">
    {% for data in ctx.projects %}
    <div class="project mix {{ data.skills|map(attribute='title')|list|join(' ') }}"
         data-myorder="{{ loop.index }}" id="project-{{ data.project.id }}">
        <style>
          #project-{{ data.project.id }} .panel,
          #project-{{ data.project.id }} icon{
            color: {{ data.project.title|colorize }}
          }
          #project-{{ data.project.id }} .panel,
          #project-{{ data.project.id }} hr,
          #project-{{ data.project.id }} tags button {
            background-color: {{ data.project.title|colorize }};
          }
          #project-{{ data.project.id }} links a:hover {
            background-color: rgba({{ data.project.title|colorize|rgb }}, 0.2);
          }
        </style>
        <div class="panel">
          <panel-heading>
            <icon class="icon mdi-social-poll"></icon>
            <div>
              <title>{{ data.project.title }}</title>
            </div>
            <tags>
                {% for skill in data.skills %}
                <button onclick="app.filter('.{{ skill.title }}', true)">{{ skill.title }}</button>
                {% endfor %}
            </tags>
            <hr>
          </panel-heading>
          <panel-body>
            {{ data.project.description }}
            <links>
              <a href="{{ url_for('project', id=data.project.id) }}" class="btn btn-flat">
                <i class="mdi-action-home">
                </i>Project page
              </a>
            </links>
          </panel-body>
        </div>
    </div>
    {% endfor %}

    <div class="gap"></div>
    <div class="gap"></div>
  </div>
</div>

<script src="/static/components/mixitup/build/jquery.mixitup.min.js"></script>
<script src="/static/app.js"></script>
<script>var app = App();</script>

{% endblock body %}