{% extends "base.html" %}
{% import "macros.html" as m %}
{% block body %}

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1>{{ ctx.skill.title }}</h1>
    </div>
    <div class="panel-body">
      <h5>Projects requiring {{ ctx.skill.title }}</h5>
      <p>{% for project in ctx.projects %}
        {{ m.project(project.id, project.title) }}
      {% endfor %}</p>

      <h5>Hackers skilled with {{ ctx.skill.title }}</h5>
      <p>{% for hacker in ctx.skilled %}
        {{ m.hacker(hacker.user, hacker.name) }}
      {% endfor %}</p>

    </div>
  </div>
</div>
{% endblock body %}